* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: lightgrey;
}

label,
input {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 5px 0;
	list-style: none;
}

.smallModal {
	width: 400px;
	height: auto;
	top: 100px;
	left: 50%;
	padding: 20px;
	position: absolute;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	border: darkgray 1px solid;
	transform: translate(-50%, 0);
}

.title {
	font-size: 26px;
	color: cadetblue;
}

.subTitle {
	font-size: 18px;
	color: black;
	margin: 20px 0;
}

.inlineBlock {
	display: inline-block;
}

.btnSubmit {
	border: 0;
	color: white;
	margin-left: 10px;
	padding: 2px 10px 3px 10px;
	background-color: royalblue;
}

.divResposta {
	margin-top: 35px;
	padding-top: 20px;
	border-top: lightgrey 1px solid;
}

.divResposta table {
	width: 350px;
	margin: 25px auto;
	border-spacing: 0;
	border-collapse: collapse;
}

.divResposta thead {
	font-weight: bold;
}

.divResposta td {
	width: 100px;
	padding: 5px;
	border: lightgrey 1px solid;
}
